$color-primary: #ff8d63;

.home-container {
    width: 75%;
    margin: 0px auto;

    .searchAndTitle {
        height: 13rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin-top: 25px;
            font-size: 32px;
            color: #009784;
        }

        .input-container {
            width: 32%;
            height: 13%;
            position: relative;

            input {
                width: 85%;
                border-radius: 20px;
                padding: 12px;
                border: 1px solid #ebebeb;
            }

            input:focus-visible {
                outline: none;
            }

            .search-icon {
                position: absolute;
                right: 50px;
                top: 7px;
                font-size: 28px;
                color: gainsboro;
                background: white;
            }

            .restart-icon {
                font-size: 28px;
                position: absolute;
                top: 5px;
                right: 10px;
            }

            .restart-icon:hover {
                cursor: pointer;
                color: #ff6859;
            }
        }
    }
}

input:focus::placeholder {
    color: $color-primary;
}

hr { 
    border: 1px solid #eaf1f1;
}

.spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    min-height: 100vh;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #048776;
}