<div class="home-container">
    <div class="searchAndTitle">
        <h1>Lugares del mundo</h1>
        <div class="input-container">
            <input type="text" [formControl]="inputValue" placeholder="Buscar lugar...">
            <span class="search-icon material-icons">search</span>
            <span (click)="resetList()" class="restart-icon material-icons">restart_alt</span>
        </div>
    </div>
    <hr>
    <div class="spinner" *ngIf="showSpinner; else showPlaces">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #showPlaces>
        <app-places [placesFiltered]="placesFiltered"></app-places>
    </ng-template>
</div>