<div class="home-container">
    <div class="searchAndTitle">
        <h1>Lugares del mundo</h1>
        <div class="input-container">
            <input type="text" [formControl]="inputValue" placeholder="Buscar lugar...">
            <span (click)="search()" class="search-icon material-icons">search</span>
            <span class="material-icons">restart_alt</span>
        </div>
    </div>
    <app-places class="places-list" [allPlaces]="places" [placesFiltered]="placesFiltered"></app-places>
</div>