<div class="places">
    <div class="searchAndTitle">
        <h1>Lugares del mundo</h1>
        <div class="input-container">
            <input type="text" placeholder="Buscar lugar..."><span class="search-icon material-icons">search</span>
        </div>
    </div>
    <mat-card *ngFor="let place of places" class="place example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{place.nombre}}</mat-card-title>
            <mat-card-subtitle>{{place.pais}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{place.imagenUrl}} alt="place-img">
        <mat-card-content>
            <p>
                {{place.descripcion}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>VER MAS</button>
        </mat-card-actions>
    </mat-card>
</div>