$color-orange: #f36e61;

.header {
    background: #1d9989;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: row;
}

.container-left {
    width: 70%;
    display: flex;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 39%;
        font-size: 40px;
        text-shadow: 2px 2px 4px rgb(0 0 0 / 80%);

        a {
            cursor: pointer;
            text-decoration: none;
            color: floralwhite
        }
    }

    .nav {
        margin-top: 48px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 16px;

        .material-icons {
            margin-left: 25px;
            margin-right: 5px;
        }

        .text:hover {
            cursor: pointer;
            color: $color-orange;
            font-weight: 400;
            text-shadow: 2px 2px 4px rgb(0 0 0 / 80%);
        }
    }
}

.container-right {
    width: 30%;
    display: flex;
    flex-direction: column;

    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: white;
        color: black;
        width: 100%;
        height: 32%;
        border-radius: 0px 0px 0px 30px;

        .material-icons {
            font-size: 35px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .icon-left {
            display: flex;
            margin-left: 30px;

            .userIcon {
                color: $color-orange;
            }

            .userName {
                margin-top: 10px;
                margin-left: 3px;
            }
        }

        .icon-right {
            display: flex;
            margin-right: 30px;

            .closeIcon:hover {
                cursor: pointer;
                color: $color-orange;
            }

            .SignOff {
                margin-top: 10px;
            }
        }
    }

    .bottom {
        height: 68%;

        .container-bottom {
            width: 50%;
            height: 100%;
            margin: 0px auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .planeIcon {
                font-size: 40px;
                margin-left: 5px;
                margin-bottom: 5px;
                margin-top: 7px;
                text-shadow: 2px 2px 4px rgb(0 0 0 / 80%);
            }
        }
    }
}

mat-icon {
    height: 50px;
    width: 35px;
}

::ng-deep .my-custom-badge-accent.mat-badge-accent .mat-badge-content {
    background-color: $color-orange;
    color: white;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 80%);
}