.header {
    background: #d16239;
    height: 170px;
    color: white;
    display: flex;
    flex-direction: row;
}

.container-left {
    width: 70%;
    display: flex;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 39%;
        font-size: 40px;
    }

    .nav {
        margin-top: 48px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 16px;

        .material-icons {
            margin-left: 25px;
            margin-right: 5px;
        }

        // .text {
        //     background-image: 
        //         linear-gradient(
        //             transparent 0%,
        //             transparent 87%,
        //             black 90%,
        //             black 100%
                    
        //         );

        //         padding-bottom: 1px;
        //         background-repeat: no-repeat;
        //         background-size: 0% 100%;
        //         background-position-x: right;

        //         transition: background-size 300ms;
        // }

        // .text:hover {
        //     cursor: pointer;
        //     background-size: 100% 100%;
        //     background-position-x: left;
        // }

        .text:hover {
            cursor: pointer;
            color: gold;
            font-weight: 400;
        }
    }
}

.container-right {
    width: 30%;
    display: flex;
    flex-direction: column;

    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #EEEEEE;
        color: black;
        width: 100%;
        height: 32%;
        border-radius: 0px 0px 0px 30px;

        .material-icons {
            font-size: 35px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .icon-left {
            display: flex;
            margin-left: 30px;

            .userName {
                margin-top: 10px;
                margin-left: 3px;
            }
        }

        .icon-right {
            display: flex;
            margin-right: 30px;

            .closeIcon:hover {
                cursor: pointer;
                color: #d16239;
            }

            .SignOff {
                margin-top: 10px;
            }
        }
    }

    .bottom {
        height: 68%;

        .container-bottom {
            width: 50%;
            height: 100%;
            margin: 0px auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .planeIcon {
                font-size: 40px;
                margin-left: 5px;
                margin-bottom: 5px;
                margin-top: 7px;
            }
        }
    }
}