<mat-card *ngFor="let place of (placesFiltered.length > 0 ? placesFiltered : allPlaces)">
    <!-- FRONT -->
    <mat-card-title>{{place.nombre}}</mat-card-title>
    <mat-card-subtitle>{{place.pais}}</mat-card-subtitle>
    <div class="face front">
        <img mat-card-image src={{place.imagenUrl}} alt="Paisaje" />
    </div>
    <!-- BACK -->
    <div class="face back">
        <!-- Datos -->
        <mat-card-content>
            <div id="title-back">Característica: </div>
            <ul>
                <li>Categoría: {{place.categoria}}</li>
                <li>Descripción: {{place.descripcion}}</li>
                <li>PRECIO: {{place.gastoAproximado | currency}}</li>
            </ul>
        </mat-card-content>
    </div>
</mat-card>
