.places-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 57px;
    min-height: 80vh;
    margin-top: 5rem;

    mat-card {
        position: relative;
        width: 20%;
        height: 435px;
        cursor: col-resize;
        margin-bottom: 100px;
        padding: 0px !important;
        background-color: #EEEEEE;
        box-shadow: 0px;
    
        mat-card-title {
            line-height: 15px;
            font-size: 14px;
            width: 112%;
            ;
        }
    }
    
    img {
        width: 123%;
        height: 104%;
    }
    
    /* Card giratoria */
    mat-card .face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        transition: 1.5s;
        border-radius: 8px;
        box-shadow: 0px 0px 3px 1px #d8dfdf;
    }
    mat-card .front {
        transform: perspective(600px) rotateY(0deg);
    }
    mat-card .front .img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    mat-card .back {
        color: black;
        transform: perspective(600px) rotateY(180deg);
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 18px;
        background-color: white;
        height: 400px;
        overflow: auto;
    }
    mat-card:hover .front {
        transform: perspective(600px) rotateY(180deg);
    }
    mat-card:hover .back {
        transform: perspective(600px) rotateY(360deg);
    }
    mat-card:not([class*="mat-elevation-z"]) {
        box-shadow: none !important;
    }
    
    li {
        margin-bottom: 0.5rem;
    }
    
    li:nth-child(3){
        color: orangered;
    }

    li:nth-child(4){
        color: orangered;
    }

    ::ng-deep.mat-checkbox-indeterminate ::ng-deep.mat-accent ::ng-deep.mat-checkbox-background, ::ng-deep.mat-checkbox-checked.mat-accent ::ng-deep.mat-checkbox-background {
        background-color: orangered !important;
    }
    ::ng-deep.mat-checkbox-frame {
        border-width: 1px !important;
    }

    li:nth-child(5){
        color: orangered;
        cursor: pointer;
    }

    li:nth-child(5):hover{
        color: rgb(255, 0, 0);
        text-decoration: underline;
    }
}

#empty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 59vh;
    width: 100%;
}

.search {
    font-size: 125px;
    color: #395c5c;
}

#title-card {
    font-size: 20px;
}